<h1>Donate</h1>

<p>
  Like CAH Creator? Want to keep it running? Lucky you! You can help us by
  donating via PayPal (and the best thing is that you don't need to have a
  PayPal account!)
</p>

<p>
  This site actually costs money (around $8/mo, not much!) for me to run now,
  and based on the number of users on the old site, I thought I'd try to rely
  on users for the costs. All donations will go directly to the account I use
  to pay Heroku (and if there are any leftovers, I might get a cup of coffee).
</p>

<p>
  There aren't really any benefits right now, other than me being grateful, but
  I might soon add some sort of perk, but right now it just helps the site stay
  up.
</p>

<p>
  If you want to donate, here's the button that you should press:
</p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCvNl2VFyGqwtJ8n8peQK/oXbSM1SHFmEhZ3u9Q5JI29RpZ4Oc3gOcjqdDpYr6zCrFAIOpznvLyGiHUS2g7X3+4cjPF7AiqgPaFNHijB6dd4m2hhBH7ivOUbsIiTt5W7EMabUb4GN3ZBEindxLtd7KE2wV6qKbUn8ISJhzq2f1hIjELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQI0ULxzk7F2AuAgYjr4slSX8OBYc9Rpd4Sz8PYI/ciTFe5ZutdlcJS9sylQ7w64c/ExHieCD2SymNrdETlPkgCap3afBaBJOIRJjhqQetxDkkyVPzSe6K+E8nVb1v7ePi3HpvYTh6LLHQsF1iJBWtzUlOg2bBdafh1dp1wykIukg3xrx38RfQS6qrprzq+w/+U70iloIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTYwNjA1MTc1NTU5WjAjBgkqhkiG9w0BCQQxFgQUA6BTuEfXJvhgSK0V3QWjx4l+NC4wDQYJKoZIhvcNAQEBBQAEgYAX1N0qDwZRkpo4Gs+bGnsq0+FmQ0nhXdB8OFyTSlwVhokTzfJ4xO8IMxGYbP9+1FvIjtCoJkZ+N8Gk+6kOvYF15muYabQrbqwCtuFGVGKjZuoxOzrRldSGG0gHHHKXjVkA+EPjcXDj0CEomla3QLvRwbVMZGwKLlSfFBVZCuWwkQ==-----END PKCS7-----
">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
