<h1 class="center">Using CAH Creator is simple.</h1>

<h2>1. Pick a name.</h2>
<p>
  Pick a name, any name.* Be creative, this will show up in many places when
  you publish it!
</p>

<h2>2. Add cards.</h2>
<p>
  Add some black cards and some white cards, they'll save automatically. Don't
  worry about losing your work.
</p>

<h2>3. Optional: Invite friends.</h2>
<p>
  That is, uh, if you have any... you can invite friends to work on your deck
  with you by sending them your special editor link while you're editing! You
  will be able to see each others' work in <i>real time</i> with the magic of
  WebSockets!
</p>

<h2>4. Publish.</h2>
<p>
  Publish your deck for the world to see how horrible of a person you are. You've
  earned it.
</p>

<h2>5. Play.</h2>
<p>
  We worked with our main partner, <%= link_to "Cards Against Equestria", "http://cardsagainstequestria.com" %>,
  to bring CAH Creator compatibility to it. Go ahead and start playing once
  you're done making your deck!
</p>

<h1 class="center">What are you waiting for?!</h1>

<p class="hero-button-wrapper">
  <% if current_user %>
    <a class="hero-button" href="<%= new_deck_path %>">
      Create a deck
    </a>
  <% else %>
    <a class="hero-button" href="<%= signup_path %>">
      Sign up
    </a>
  <% end %>
</p>
