<h1>Refunds</h1>

<p>
  We'll generally refund items if it's been within 7 days of purchase. But we do
  have specific policies for digital and physical goods.
</p>

<h2>Digital Goods</h2>

<p>
  We will issue you a full refund if your purchase meets this criteria:

  <ul>
    <li>It is within 7 days of purchase</li>
    <li>The purchase amount hasn't been modified from its default</li>
  </ul>

  Please note that donations are not refundable.
</p>

<h2>Physical Goods</h2>

<p>
  We will issue you a full refund if your purchase meets this criteria:

  <ul>
    <li>It is within 7 days of purchase</li>
    <li>Your order has not been shipped</li>
  </ul>
</p>

<p>
  If your order has been shipped and you would like to return your order, it must
  meet these criteria instead:

  <ul>
    <li>Order is not damaged (ripped cards, etc.)</li>
    <li>It is within 7 days of delivery date</li>
  </ul>

  You will be responsible for shipping costs on returns.
</p>
