<div class="deck-module">
  <h3><%= link_to deck.name, new_deck_order_path(:deck => deck.id) %> ($<%= '%.2f' % deck.price %>)</h3>
  Contains <%= deck.black_cards.count %> black cards and <%= deck.white_cards.count %> white cards.
</div>
