<div class="deck-module">
  <h3><%= link_to deck.name, "javascript:CAHCreator.selectDeck(\"#{deck.id}\")" %></h3>
  <%= t('contains_x_black_and_x_white', black_cards: deck.black_cards.count, white_cards: deck.white_cards.count) %>
</div>
