<h1>New Deck</h1>

<%= form_for :deck, url: decks_path do |form| %>
  <p>
    Let's create a new deck.
  </p>

  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>

  <%= form.button "Save" %>
<% end %>
