<h1><%= t('select_deck') %></h1>

<p>
  <%= t('select_deck_description') %>
</p>

<div class="decks">
  <% @user.decks.order("id DESC").each do |deck| %>
    <%= render partial: "decks/module_selector", locals: { deck: deck } %>
  <% end %>
</div>
